/* .menu-icon {
    width: 20px !important;
    height: 20px !important;
    display: none;
} */

.btn-light {
    background-color: white !important;
}

.logo {
    height: 130px;
    width: 140px;
}

.user-icon {
    height: 60px;
    width: 60px;
}

.sidebar {
    width: 250px !important;
}

.offcanvas-backdrop {
    background-color: white !important;
    width: 0 !important;
}

.logout {
    width: 30px;
    height: 30px;
}

.menu-icon {
    display: flex;
    justify-content: flex-start;
}
/* .logo {
    display: none;
    visibility: hidden;
} */



.menu-icon {
    display: flex;
    justify-content: flex-start;
    height: 20px !important;
    width: 20px;
}

.add-to-cart {
    color: black !important;
    text-decoration: none;
}

.navbar-expand , .btn-light{
    background-color: #ecebeb !important;
}

.btn-light {
    border: 1px solid #ecebeb !important;
}

.shopeasy-deading {
    font-family: monospace !important;
}

.tagline {
    font-family: revert-layer;
}
